/* .body {
    overflow-x: hidden;
} */

.bgimage {
    max-width: 1648px;
    max-height: 824px;
}

.bigimg {
    min-width: 400px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.smolimg {
    display: none;
}

.gomidpls {
    position: relative;
    z-index: 1;
    max-width: 1080px;
    padding: 0 32px;
    margin: 0 auto;
}

.txtover {
    position: absolute;
    bottom: 24px;
    color: #ffffffba;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.txtover > img {
    width: 180px;
    height: 50px;
}

.socials {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.socials > div {
    margin: 0 6px;
}

.socials > div > a > svg {
    max-width: 24px;
    max-height: 24px;
    fill: #ffffffba;
}


.sharebutt {
    width: 80px;
    height: 40px;
    padding: 16px 4px;
    background-color: transparent;
    border: 1px solid #ffffffba;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sharebutt > a {
    text-decoration: none;
    color: #ffffff;
}

.memcontainer {
    padding-top: 24px;
    padding-bottom: 24px;
}

.memcontainer > p {
    color: white;
    font-weight: bold;
    padding-bottom: 16px;
}

.members {
    display: flex;
    gap: 24px;
}

.members > div {
    max-width: 236px;
    max-height: 348px;
}


.members > div > a > img {
    width: 100%;
    max-height: 315px;
    height: auto;
    object-fit: cover;
}

.members > div > p {
    color: white;
    text-align: center;
    padding-top: 16px;
    margin-bottom: 16px;
}

.storiescontainer {
    
    padding-top: 24px;
    position: relative;
    margin-bottom: 24px;

}

.stories {
    display: flex;
    flex-direction: row;
    gap: 12px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: transparent transparent;
    width: 100%;
}

.storiesitems {
    min-width: 132px;
    min-height: 176px;
    width: 132px;
    height: 176px;
    position: relative;
}

.stories > div > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}

.storiespfp {
    position: absolute;
    bottom: 10%;
    left: calc(50% - 22px);
    max-width: 44px;
    max-height: 44px;
}

.storiespfp > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #E0A0FC;
    border-radius: 1.5em;
}

.storiespfp > p {
    font-size: 0.75em;
    text-align: center;
    color: white;
}

.arrow {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 50%;

    width: 32px;
    height: 32px;
    border: 1px solid #ffffff1a;
    border-radius: 1.5em;
    background-color: #232323;
}

.arrow > svg {
    width: 15px;
    height: 15px;
    color: #eeeeee;
}

.arrowr {
    right: -24px;
}

.arrowl{
    left: -24px;
}

.music {
    padding: 24px 0;
}

.music > p {
    font-weight: bold;
    color: white;
    padding-bottom: 16px;
}

.twtcontainer {
    position: relative;
    padding: 24px 0;
}

.arrowtwt {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 45%;

    width: 42px;
    height: 42px;
    border: 1px solid #ffffff1a;
    border-radius: 1.5em;
    background-color: #111111;
}

.arrowtwt > svg {
    width: 15px;
    height: 15px;
    color: #eeeeee;
}

.twtheader {
    color: white;
    padding-bottom: 20px;
    font-weight: bold;
}

.twt {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: transparent transparent;
    color: white;
    font-size: 13.88px;
    gap: 24px;

}

.twtitems {
    min-width: 210.66px;
    height: 330.66px;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff0f;
    border: 1px solid #ffffff1a;
    border-radius: 0.5em;
}

.twtitems > a:first-child {
    flex-grow: 1;
}

.twtitems > a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.twtimg {
    width: calc(100% + 32px);
    flex-grow: 1;
    background-color: #ffffff;
    margin: -8px -16px 0 -16px;
    border-radius: 0.5em 0.5em 0 0;

}

.twttxt1 {
    max-width: 100%;
    height: 282px;
    text-wrap: wrap;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.twttxt2 {
    margin: 10px 0;
    max-width: 100%;
    height: 60px;
    text-wrap: wrap;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.twtacc {
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #ffffffba;
}

.twtacc > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.twtacc > div > div{
    height: 24px;
    width: 24px;
    border-radius: 1.5rem;
    background-color: white;
}

.twtacc > svg {
    color: white;
    justify-content: flex-end;
    width: 18px;
    height: 18px;
    fill: #ffffffba;
}



@media only screen and (max-width: 800px) {
    .bgimage {
        max-width: 800px;
        max-height: 1066px;
    }

    .bigimg {
        display: none;
    }

    .smolimg {
        display: inline;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .txtover {
        top: 24px;
        left: calc(50% - 171.735px);
        align-items: center;
    }

    .txtover > p {
        text-align: center;
    }

    .arrow {
        display: none;
    }

    .arrowtwt {
        display: none;
    }

    .members {
        overflow-x: scroll;
        gap: 12px;
    }

    .members > div > a > img {
        max-width: none;
        max-height: none;  
        width: 144px;
        height: 192px;
        object-fit: cover;
    }
}