

.shop-banner-container{
    width: 100%; 
    position: relative;
    overflow: hidden; 
}

.shop-banner-container img{
    width: 100%;
    height: auto;
    display: block;
    border-radius:25px;
}

.shop-home-feed{
    display: flex;
    padding: 10px;
    cursor: pointer;
    margin-top: 15px;
}

.product-list{
    display: grid;
}

.product-info{
    width: 200px;
    height: 318px;
}

.product-list img{
    width: 198px;
    height: 198px;
    object-fit: cover;
    border-radius: 8px;
}

.membership-only{
    margin-top: 10px;
}

.membership-only p{
    font-size: 14px;
    font-weight: lighter;
    color: rgb(255, 213, 0);
}

.item-title {     
    text-overflow: ellipsis;
    color: white;
    margin-top: 5px;
    line-height: 1.3;
}

.price{
    margin-top: 5px;
}

.no-longer{
    padding: 5px;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
html {
    scroll-behavior:smooth;
}

.tab-container{
    display: flex;
    color: white;
    border-bottom: 1px solid rgb(57, 57, 57);
    
}

.tab-value{
cursor: pointer;
padding-bottom: 24px;
padding-top: 24px;
border-bottom: 2px solid white;
margin-left: 10px;
}
.shop-title{
    margin-top: 10px;
    color: white;
}

.badge{
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
}

.badge img {
    height: 39px;
    width: 39px;
}

.shop-tab button{
    border: none;
    background-color: #151515;
    color: white;
    font-size: larger;
    transition:  transform 0.3s ease, box-shadow 0.3s ease;
}
.shop-tab button:active {
    text-decoration: underline;
}



.shop-tab button:hover{
    transform: scale(1.05);

}

/* .shop-item-container{ */
    /* background-color: rgb(122, 185, 241); */
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,auto);
    width:fit-content;
    gap: 30px;
    padding: 0px;
    margin: 0 auto;
    justify-content: center;
    
    }
    



.shop-item{
    width: 225px;
    height: 225px;
    background-color: #151515;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.shop-item > p{
font-size: 10px;
}

.shop-item:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.shop-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */ 

p{
    color: white;
}

@media only screen and (max-width: 800px){
    .shop-banner-container{
        width: 100vw; 
        border-radius: 0px;
        margin-left:0px;
    }
    
    .shop-banner-container img{
        width: 100%;
        height: auto;
        border-radius: 0px;
    }
    
    .shop-home-feed{
        display: flex;
        padding: 10px;
    }
    
    .product-list{
        display: grid;
    }
    
    .product-info{
        width: 347px;
        height: 465px;
    }
    
    .product-list img{
        width: 345px;
        height: 345px;
        object-fit: cover;
        border-radius: 8px;
    }
    
    .membership-only{
        margin-top: 10px;
    }
    
    .membership-only p{
        font-size: 14px;
        font-weight: lighter;
        color: rgb(255, 213, 0);
    }
    
    .item-title {     
        text-overflow: ellipsis;
        color: white;
        margin-top: 5px;
        line-height: 1.3;
    }
    
    .price{
        margin-top: 5px;
    }
    
    .no-longer{
        padding: 5px;
        font-weight: bold;
        margin-top: 5px;
    }
    a{
        text-decoration: none;
        color: white;
    }
    html {
        scroll-behavior:smooth;
    }
    
    .tab-container{
        display: flex;
        color: white;
        border-bottom: 1px solid rgb(57, 57, 57);
        
    }
    
    .tab-value{
    cursor: pointer;
    padding-bottom: 24px;
    padding-top: 24px;
    border-bottom: 2px solid white;
    margin-left: 10px;
    }
    .shop-title{
        margin-top: 10px;
        color: white;
    }
    
    .badge{
        position: absolute;
        margin-left: 5px;
        margin-top: 5px;
    }
    
    .badge img {
        height: 39px;
        width: 39px;
}
}





/* @media(max-width:1447px){
    .shop-item-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:1024px){
    .shop-item-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .shop-item{
        width: 190px;
        height: 190px;
    }
}

@media(max-width:862px){
    .shop-item-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .shop-item{
        width: 170px;
        height: 170px;
    }
}

@media (max-width: 768px) {
    .shop-item-container {
    grid-template-columns: repeat(2, 1fr); 
    }
    .shop-item{
        width: 250px;
        height: 250px;
    }

    
}

@media (max-width: 720px) {
    .shop-item-container {
    grid-template-columns: repeat(2, 1fr); 
    }
    .shop-item{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 635px) {
    .shop-item-container {
    grid-template-columns: repeat(1, 1fr); 
    }
    .shop-item{
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 480px) {
    .shop-item-container {
        grid-template-columns: repeat(1, 1fr); 
    }

    .shop-item{
        width: 300px;
        height: 300px;
    }
    .shop-tab button{
        border: none;
        background-color: #151515;
        color: white;
        font-size: 12px;
        gap: 4px;
    }
}

@media (max-width: 430px) {
    .shop-item-container {
        grid-template-columns: repeat(1, 1fr); 
    }

    .shop-item{
        width: 300px;
        height: 300px;
    }
    .shop-tab button{
        border: none;
        background-color: #151515;
        color: white;
        font-size: 12px;
        gap: 4px;
    }
} */