.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6%;
    margin-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}
.left-content{
  max-height: calc(100vh - 72px - 32px);
  height: -moz-fit-content;
  height: fit-content;
  width: 34%;
  flex-shrink: 0;
  position: sticky;
  top: 104px;
  padding-top: 0;
  padding-bottom: 0;
    
}
.right-content {
    color: white;
    font-family: Arial, sans-serif;
    flex: 1 1;
}
.left-content > div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#holder{
  background-color: rgba(128, 128, 128, 0.274);
  border-radius: 5px;
  padding: 10px 8px;
}
.allrob{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .rob{
    width: 30px;
    height: 30px;
}
.rob svg{
    width: 100%;
    height: 100%;
}
a{
 color: white;
  text-decoration: none;}
 .BoardItem_newDot__SKAU7 {
  display: inline-block;
  margin-top: 4px;
  margin-left: 4px;
  vertical-align: top;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #ff4747;
}
.noticeinpic{
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    justify-content: center;
    color: rgba(255, 255, 255, 0.997);
  }
  .rob1 i{
    width: 100%;
    height: 100%;
    font-size: 30px;
    padding-top: 15px;
    object-fit: cover;
    color: white;
  }
  .horizonn{
    border-right: 1px solid rgba(255, 255, 255, 0.295);
  }
  .horizon{
    padding-top: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.137);
  }
  

  .viewpost-container {
    display: grid;
    grid-template-columns: auto 40px 1px 40px;
    gap: 5px;
    padding-left: 20px;
    padding-top: 20px;
  }
  .viewpost {
    color: #e7e1e1a7;
  }
  button {
    border: none; /* Removes the border */
    outline: none; /* Ensures there's no outline when focused */
    background: transparent;
  }
  button i {
    color: rgba(255, 255, 255, 0.856);
    padding-right: 5px;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .containerbigbig {
    color: white;
  }
  ul {
    list-style: none;
  }
  .alltwo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .horizon {
    border-bottom: 1px solid rgba(128, 128, 128, 0.274);
  }
  .fristOfTwo {
    display: grid;
    grid-template-columns: auto 90px;
  }
  .alltext {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .headertext {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .footertext {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: rgba(255, 255, 255, 0.531);
  }
  .twoname {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .secondOfTwo a {
    text-decoration: none;
    color: white;
  }
  .comment {
    color: rgba(255, 255, 255, 0.452);
  }
  .allmanager {
    display: flex;
    align-items: center;
    gap: 2px;
  }
  .dot {
    display: flex;
    padding-bottom: 11px;
  }
  .date {
    padding-top: 3px;
  }
  .number {
    color: red;
    padding-right: 5px;
  }
  .pic {
    width: 80px;
    height: 80px;
    border-radius: 10px; /* Makes the image circular */
    overflow: hidden; /* Ensures the image doesn't overflow */ /* Optional border for styling */
  }
  
  .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .emoji-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  .emoji {
    display: flex;
    flex-wrap: wrap;
  }
  .reaction-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #333; /* Dark button background */
    border: none;
    padding: 5px 10px;
    border-radius: 12px;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
  }
  .emoji-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px; /* Space between emoji and count */
  }
  .reaction-count {
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
  }
  .fa-face-smile-beam {
    font-size: 20px;
    padding-left: 5px;
  }
  .reaction {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }